* {
    margin: 0;
    padding: 0;
}

.banner {
    background: whitesmoke;
    padding: 5px 0;
}

.container {
    width: 65%;
    margin: 0 auto;
    height: auto;
    line-height: 50px;
}

.container::after,
.c_dd:after,
.c_right form ul:after {
    content: "";
    display: block;
    clear: both;
}

.container .b_left {
    width: 30%;
    height: 50px;
    background: url(../img/small_logo.png) no-repeat;
    background-position: 0 10px;
    float: left;
}

.b_left p {
    width: 160px;
    height: 100%;
    margin-left: 80px;
}

.b_left strong {
    font-size: 20px;
    color: #666;
}

.b_left span {
    color: darkgray;
    font-size: 18px;
    margin-left: 5px;
    font-family: "黑体";
}

.container .b_right {
    width: 23%;
    height: 100%;
    float: right;
    text-align: right;
}

.b_right span {
    color: darkgray;
    margin-left: 8px;
}

.b_right span a {
    /* text-decoration: none; */
    color: cornflowerblue;
}

.c_left {
    width: 50%;
    float: left;
    height: 500px;
    background: url(../img/thlogin.jpg) no-repeat;
    background-position: center;
    background-size: 115%;
}

.c_right {
    width: 50%;
    height: 500px;
    float: left;
    position: relative;
}

.c_right form,
.form2 {
    width: 450px;
    height: 333px;
    margin: 0 auto;
    position: relative;
    /* background: #6495ED; */
}

.form2 p {
    text-align: center;
    color: #666666;
    font-size: 18px;
}

.form2 i {
    display: block;
    width: 221px;
    height: 208px;
    background: url(../img/saoma_bg_new.png) no-repeat;
    margin: 15px auto;
    position: relative;
}

.form2 i img {
    position: absolute;
    width: 122px;
    height: 122px;
    left: 8px;
    top: 73px;
}

.form2 a {
    text-decoration: none;
    color: #DC143C;
}

.c_p span {
    padding: 10px 50px;
    color: #666666;
}

.c_p {
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
}

.c_right form div {
    width: 80%;
    height: 40px;
    border: 1px solid #CCCCCC;
    background: #FFFFFF;
    margin: 20px auto;

}

.c_right .icon1 {
    display: block;
    width: 35px;
    height: 60%;
    background: url(../img/icon_new.png) no-repeat;
    background-position: -277px -17px;
    margin-top: 9px;
    float: left;
}

.c_right .icon2 {
    display: block;
    width: 35px;
    height: 60%;
    background: url(../img/icon_new.png) no-repeat;
    background-position: -275px -66px;
    margin-top: 9px;
    float: left;
}

.c_right form div input[type=text],
.c_right form div input[type=password] {
    width: 325px;
    height: 100%;
    border: none;
    outline: none;
    float: left;
    background: transparent;
}

.c_right form input[type=submit] {
    width: 362px;
    height: 50px;
    margin-left: 44px;
    background: crimson;
    outline: none;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 8px;
}

.c_dd {
    width: 80%;
    margin-left: 48px;
    font-size: 14px;

}

.d_left {
    float: left;
}

.d_left input[type=checkbox] {
    top: 3px;
    position: relative;

}

.d_left span {
    margin-left: 3px;
}

.d_right {
    float: right;
}

.d_right span {
    margin: 0 2px;
}

.d_right span a {
    color: #000000;
    text-decoration: none;
}

.d_right span a:hover {
    color: #DC143C;
}

.c_right form ul {
    width: 80%;
    height: auto;
    list-style: none;
    margin-left: 44px;
}

.ul_p {
    text-align: center;
    color: #666666;
}

.c_right form ul li {
    width: 38px;
    height: 38px;
    background: #CCCCCC;
    float: left;
    margin: 0 25px;
    cursor: pointer;
}

.icon3 {
    width: 120px;
    height: 30px;
    display: block;
    background: url(../img/saoma_login.png) no-repeat;
    position: absolute;
    right: 115px;
    bottom: 50px;

}

.icon4 {
    position: absolute;
    bottom: 30px;
    right: 80px;
    display: block;
    width: 54px;
    height: 54px;
    background: url(../img/saoma_wx.png) no-repeat;
    cursor: pointer;
}

.bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    color: #cccccc;
    line-height: 30px;
    background: whitesmoke;
    padding: 99px;
    /* padding-bottom: 140px; */

}

.content {
    margin: 30px auto;
    margin-bottom: 100px;
}

.c_right form ul li:hover {
    opacity: 0.7;
}

.btn_yzm {
    color: #FFFFFF;
    background: cornflowerblue;
    margin-left: 5px;
    border-radius: 5px;
    float: left;
    width: 130px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.icon {
    position: absolute;
    bottom: -20px;
    color: #DC143C;
    left: 0;
    display: block;
    text-indent: 18px;
    height: 20px;
    text-align: right;
    background: url(../img/错误.png) no-repeat;
    background-size: 13px;
    background-position: 0 4px;
    line-height: 20px;
    font-size: 12px !important;
    display: none;
}

.icon_js {
    background: url(../img/正确.png) no-repeat;
    background-size: 32px;
    background-position: -6px -5px;
    color: limegreen !important;
}

.icon_div {
    position: relative;
}